*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    background-color: #333;
    color: #fff;
    text-align: left;
}


th, td {
    padding: 20px;
    border-bottom: 1px solid #ccc;

}
td{
    background-color: #3f3e3e;
}
.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}