.cancha-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.div-grande {
    display: flex;
    position: absolute;
    bottom: 65px;
    left: 800px;
}
.div-menu{
    padding: 50px 70px;
    margin: 5px;

}
.div-dado{
    background-color: white;
    padding: 28px 50px;
    margin: 5px;
    border-style:solid;
    border-width: 3px;
}
.div-jugadores{
    display:flex;
    flex-direction: row;
    position: absolute;
    bottom: 400px;
    left: 740px;
}
.jug-loc-2{
    margin-top: 30px;
}

.jug-vis-1{
    margin-top: 30px;
}
@font-face {
    font-family: 'Digital Display';
    src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
    url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.score{
    font-family: 'Digital Display',monospace;
    color: #ffffff;
    font-size:40px;
    display:flex;
    justify-content: center;
}
.div-menu-tiro{
    display: flex;
    position: fixed;
    bottom: 10%;
    left: 10%;
    padding:  10px 40px 40px 50px;
    background-color: white;
    border-style:solid;
    border-width: 3px;
    border-radius: 12px;
}
.partido-resultado-body{
    background-color: #46c8de;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

}
.partido-resultado-moneda{
    display: flex;
    flex-direction: row;
    margin-bottom:30px;

}
.cant-monedas{
    margin-left: 10px;
}
.moneda{
    margin-left: 30px;
}
.boton-resultado{
    margin-left:25px;
}
.barra-progreso{
    position: fixed;
    width: 6%;
    height:20px;

}
.progreso{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    position: relative;
    top:60px;
}
.partido-item{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.partido-item-todos{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.img-item{
    margin-bottom:40px;
}
.body-partido-items{
    background-color: #695b5b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input-number{
    width:24%;
    padding: 8px;
    border-radius: 5px;
}
