<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elegir Equipo</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/elegirEquipo.css">
</head>
<body>
<img class="fondo" src="images/pisoCancha.png">
<div class="equipos">
    <div>
    <h1 th:text="${titulo}"> </h1>

    </div>
    <div class="nombresEquipos">
        <div>
            <table>
                <tr th:each="e, iterStat : ${equipos}" th:if="${iterStat.index % 2 == 0}">
                    <td>
                        <form action="elegir-equipo" method="POST">
                            <input type="hidden" th:value="${e.idEquipo}">
                            <button type="submit" id="botones-equipo" th:text="${e.nombre}" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <table>
                <tr th:each="e, iterStat : ${equipos}" th:if="${iterStat.index % 2 != 0}">
                    <td>
                        <form action="elegir-equipo" method="POST">
                            <input type="hidden" th:value="${e.idEquipo}">
                            <button type="submit" id="botones-equipo2" th:text="${e.nombre}" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>


</div>
<div class="sleccionEquipos">
    <div class="equipoJugador">
        <div class="logo">
           <img th:if="${equipo1 != null}" th:src="${equipo1.getLogo()}" alt="Logo del equipo">
        </div>
        <div class="estadisticas">
            <div class="estadisticasJ1">
               <p>Tiro: <p th:if="${equipo1 != null}" th:text="${equipo1.getJugador1().getTiro()}"></p></p>
                <!--  <p>Pase: <p th:text="${equipo1?.getJugador1()?.getPase()}"></p></p>
                  <p>Dribling: <p th:text="${equipo1?.getJugador1()?.getDrible()}"></p></p>
                  <p>Robo: <p th:text="${equipo1?.getJugador1()?.getRobo()}"></p></p>
                  <p>Intercepcion: <p th:text="${equipo1?.getJugador1()?.getIntercepcion()}"></p></p>
                  <p>Tapa: <p th:text="${equipo1?.getJugador1()?.getTapa()}"></p></p>-->
            </div>
            <div class="estadisticasJ2">
                <p>Tiro: </p>
                <p>Pase: </p>
                <p>Dribling: </p>
                <p>Robo: </p>
                <p>Intercepcion: </p>
                <p>Tapa: </p>
            </div>
        </div>
    </div>

    <div class="equipoMaquina">
        <div class="logo">
            <img src="" alt="">
        </div>
        <div class="estadisticas">
            <div class="estadisticasJ1">
                <p>Tiro: </p>
                <p>Pase: </p>
                <p>Dribling: </p>
                <p>Robo: </p>
                <p>Intercepcion: </p>
                <p>Tapa: </p>
            </div>
            <div class="estadisticasJ2">
                <p>Tiro: </p>
                <p>Pase: </p>
                <p>Dribling: </p>
                <p>Robo: </p>
                <p>Intercepcion: </p>
                <p>Tapa: </p>
            </div>
        </div>
    </div>
</div>
<div>
    <a href="partido-items"><button class="confirmar">Confirmar</button></a>
</div>

</body>
</html>