<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/historial.css">
    <title>Historial</title>
</head>
<body>
  <table>
    <thead>
      <tr>
        <th>Partidos</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="partido : ${partidos}">
        <td th:text="${partido.getId()}"></td>
        <td th:text="${partido.getEquipoJugador()}"></td>
        <td th:text="${partido.getEquipoPc()}"></td>
        <td th:text="${partido.getPuntosPc()}"></td>
        <td th:text="${partido.getPuntosUsuario()}"></td>
      </tr>
    </tbody>
  </table>
  <img class="fondo" src="images/MENUFONDO.jpg">
</body>
</html>