<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body>
<h1 class="score">14 - 28</h1>
<div class="div-jugadores">
    <img src="images/JUGADOR-LOCAL.png" alt="jugador" class="jug-loc-1" height="260px">
    <img src="images/JUGADOR LOCAL CON PELOTA.png" alt="jugador" class="jug-loc-2" height="270px">
    <img src="images/JUGADOR-VISITANTE.png" alt="jugador" class="jug-vis-1" height="260px">
    <img src="images/JUGADOR-VISITANTE.png" alt="jugador" class="jug-vis-2" height="260px">
</div>
<img src="images/CANCHA.jpg" alt="cancha" class="cancha-img">
<div class="div-grande">
    <div class="div-menu">
        <button>Driblear</button>
        <a href="partido-aro"><button>Tirar</button></a>
        <button>Pasar</button>
    </div>
    <div class="div-dado">
        <img src="images/DADO.jpg" alt="dado" height="80px">
    </div>
</div>


</body>
</html>