<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body class="body-partido-items">
    <div class="partido-item-todos">
        <div class="partido-item">

                        <div th:each="i : ${items}" th:if="${i != null}">
                            <div>
                                <img th:src="${i.imagen}">
                                <div>
                                    <form action="equipar" method="POST">
                                        <input type="hidden" name="idEquipo1" th:value="${idEquipo1}">
                                        <input type="hidden" name="idEquipo2" th:value="${idEquipo2}">
                                        <h5 th:text="${i.nombre}"></h5>
                                        <input type="hidden" th:value="${i.getNombre()}" name="nombreProducto">
                                        <button type="submit" >Equipar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
        </div>
    </div>
    <form action="iniciarPartida" method="get">
        <input type="hidden" name="idEquipo1" th:value="${idEquipo1}">
        <input type="hidden" name="idEquipo2" th:value="${idEquipo2}">
        <button type="submit">Confirmar</button>
    </form>

</body>
</html>