<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body class="partido-resultado-body">
    <div class="partido-resultado">
        <h1>VICTORIA</h1>
        <div class="partido-resultado-moneda">
            <img src="images/MONEDA.png" alt="moneda" height="60px" class="moneda">
            <h2 class="cant-monedas">500</h2>
        </div>
        <button class="boton-resultado">Home</button>
    </div>
</body>
</html>