<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body>
<img src="images/CANCHA.jpg" alt="cancha" class="cancha-img">
<div class="div-grande">
    <div class="div-menu">
        <button>Driblear</button>
        <button>Tirar</button>
        <button>Pasar</button>
    </div>
    <div class="div-dado">
        <img src="images/DADO.jpg" alt="dado" height="80px">
    </div>
</div>


</body>
</html>