<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body class="body-partido-items">
    <div class="partido-item-todos">
        <div class="partido-item">
        <img src="images/ITEM.png" alt="item" class="img-item" width="100px">
        <input type="number" name="cantidad" id="cantidad1" min="0" max="4" placeholder="0" class="input-number">
        </div>
        <div class="partido-item">
            <img src="images/ITEM.png" alt="item" class="img-item" width="100px">
            <input type="number" name="cantidad" id="cantidad2"min="0" max="4" placeholder="0" class="input-number">
        </div>
        <div class="partido-item">
            <img src="images/ITEM.png" alt="item" class="img-item" width="100px">
            <input type="number" name="cantidad" id="cantidad3"min="0" max="4" placeholder="0" class="input-number">
        </div>
    </div>
<a href="partido"><button>Equipar</button></a>
</body>
</html>