<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body>
    <img src="images/ARO.jpg" alt="aro" class="cancha-img">
    <div class="div-grande">
        <div class="div-menu-tiro">
            <div  id="barra-tiro"></div>
            <button id="tirar">Tirar</button>
            <script src="js/partido-aro.js"></script>
        </div>
    </div>
</body>
</html>