<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/partido.css">
    <title>Partido</title>
</head>
<body>
    <section class="container-partido">
        <h1 class="score mt-3 mb-3">14 - 28</h1>
        <div class="div-jugadores mt-5 ms-5">
            <div class="img-player">
                <p th:text="${partido.getEquipoJugador().getJugador1().getNombre()}" th:class="${partido.getEquipoJugador().getColor()}"></p>
                <img th:src="${partido.getEquipoJugador().getJugador1().getImagen()}" alt="jugador" class="jug-loc-1">
            </div>
            <div class="img-player">
                <p th:text="${partido.getEquipoJugador().getJugador2().getNombre()}" th:class="${partido.getEquipoJugador().getColor()}"></p>
                <img th:src="${partido.getEquipoJugador().getJugador2().getImagen()}" alt="jugador" class="jug-loc-2 mt-5">
            </div>
            <div class="img-player">
                <p th:text="${partido.getEquipoPc().getJugador2().getNombre()}" th:class="${partido.getEquipoPc().getColor()}"></p>
                <img th:src="${partido.getEquipoPc().getJugador2().getImagen()}" alt="jugador" class="jug-vis-1 mt-5">
            </div>
            <div class="img-player">
                <p th:text="${partido.getEquipoPc().getJugador1().getNombre()}" th:class="${partido.getEquipoPc().getColor()}"></p>
                <img th:src="${partido.getEquipoPc().getJugador1().getImagen()}" alt="jugador" class="jug-vis-2">
            </div>
        </div>

        <div class="div-grande mb-4">
            <div class="div-menu">
                <button id="driblear">Driblear</button>
                <a href="partido-aro">
                    <button id="tirar">Tirar</button>
                </a>
                <button id="pasar">Pasar</button>
            </div>
            <div class="div-dado">
                <img src="images/DADO.jpg" alt="dado" height="80px">
            </div>
        </div>
    </section>
    <img src="images/CANCHA.jpg" alt="cancha" class="cancha-img">
</body>
</html>